<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Results</title>

    <link rel="stylesheet" href="/vendor/normalize-4.1.1.css" type="text/css" />
    <link rel="stylesheet" href="/vendor/border-box.css" type="text/css" />
    <link rel="stylesheet" href="/styles/layout.css" type="text/css" />
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <script type="text/javascript" src="/vendor/jquery-3.0.0.js"></script>
    <script type="text/javascript" src="/scripts/app.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
  </head>

  <body>
    <header>
      <div class="nav">
        <a href="/"><img
          src="/schoodlelogo2.png"
          alt="schoodle"
          width="230px"
          height="80px"
          ></a>
      </div>
    </header>

    <section class="block3">
      <h1>
        <%= eventTitle %>
      </h1>
      
      <h5>
        <%= eventDescription %>
      </h5>
            
      <div id="shareBox">
        <h6>Share event with guests: </h6>
        <textarea name="shareURL" id="myInput">http://localhost:8080/events/<%= shareURL %></textarea>
        
      </div>
      
      <div class="container3">
        <table class="table table-striped table-bordered table-hover" id=table>
          <tr class="table-row">
            <th class="table-height">Dates</th>
            <% console.log(`HERE IS RESULT: ${result}`) %>
            <% for(let option of result){ %>
              <td><h6><%= option.timeslot %></h6></td>
            <% } %>
          </tr>
            <% for(let key of result){ %>
              <% let voteid1 = key.voteid; %>
              <tr>
                <td><h6><%= key.name %></h6><button type="button" class="btn btn-sm btn-outline-info">Edit</button></td>
                <% for(let option of result){ %>
                  <% let voteid2 = option.voteid; %>
                  <% if (voteid1 === voteid2) { %>
                    <% console.log(`id1 = ${voteid1}, id2 = ${voteid2}`) %>
                    <td>✅</td>
                    <% } else { %>
                    <td></td>
                  <% } %>
                <% } %>
              </tr>
            <% } %>
                
                <!-- <td><input class="form-check-input" type="checkbox" id="inlineCheckbox1" value="option1" checked></td>
                <td><input class="form-check-input" type="checkbox" id="inlineCheckbox1" value="option1" checked></td>
                <td><input class="form-check-input" type="checkbox" id="inlineCheckbox1" value="option1" checked></td> -->

            <!-- <form method="POST" action="/events/<%= shareURL %>"> -->
          <!-- <form action="/events/2sn5th" method="POST"> -->
          <form action="/events/<%= shareURL %>" method="POST">
            <tr>
              <td>
                <textarea class="textAreaTable" name="name1" cols="7" rows="2" placeholder="your name:"></textarea>
                <textarea class="textAreaTable" name="email1" cols="7" rows="2" placeholder="your email:"></textarea>
              </td>
              <td><input class="form-check-input" type="checkbox" id="inlineCheckbox1" value="option1"></td>
              <td><input class="form-check-input" type="checkbox" id="inlineCheckbox1" value="option1"></td>
              <td><input class="form-check-input" type="checkbox" id="inlineCheckbox1" value="option1"></td>
              <td><input class="form-check-input" type="checkbox" id="inlineCheckbox1" value="option1"></td>
              <td><input class="form-check-input" type="checkbox" id="inlineCheckbox1" value="option1"></td>
              <td><input class="form-check-input" type="checkbox" id="inlineCheckbox1" value="option1"></td>
              <td><button type="submit" class="btn-success-btn-lg" value="submit">Save</button></td>
            </tr>
          </form>

          <!-- <form>
            <td><textarea class="textAreaTable" name="name" id="" cols="7" rows="2" placeholder="Name:"></textarea></td>
            <td><textarea class="textAreaTable" name="email" id="" cols="7" rows="2" placeholder="Email:"></textarea></td>
            <button type="button" class="btn btn-success btn-lg" value="submit">Save</button>
          </form> -->

          <!-- <form method="POST" action="/events/<%= shareURL %>">
            <td><textarea class="textAreaTable" name="name" id="" cols="7" rows="2" placeholder="Name:"></textarea></td>
            <td><textarea class="textAreaTable" name="email" id="" cols="7" rows="2" placeholder="Name:"></textarea></td>
            <button type="button" class="btn btn-success btn-lg" value="submit">Save</button>
          </form> -->
          
        </table>
    </div>


    </section>
    <footer></footer>
  </body>
</html>
